body {
    font-family: sans-serif, arial, cambria, serif;
    position: relative;
    width: 960px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: white;
    background-color: #696969;
    position: absolute;
    border: solid 1px #696969;
    padding: 5px;
    top: -45px;
    left: 53px;
    text-align: center;
    width: 88%;
    max-width: 27em;
}

#firstLayer {
    border: solid 2px #bbbbbb;
    background-color: #f8f8f8;
    padding: 35px 35px 10px 35px;
}

#fieldsetLayer {
    margin: 0px;
}

.firstFieldSet {
    border-color: #dddddd;
    background-color: #dddddd;
    margin-bottom: 2px;
}

#thirdFieldSet {
    background-color: #f1f1f1;
    border: solid 2px #bbbbbb;
    margin-top: 15px;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif, arial, cambria, serif;
}

#caption {
    font-size: 20px;
    background-color: #bbbbbb;
}

th {
    border-bottom: solid 1px #bbbbbb;
    background-color: #dddddd;
    padding: 10px;
}

tbody {
    background-color: #f1f1f1;
}

td {
    border-bottom: solid 1px #bbbbbb;
    padding: 10px;
}

thead :nth-child(3), :nth-child(4), :nth-child(5), :nth-child(6), :nth-child(7){
    text-align: left;
}

.lastRowEffect {
    border-bottom-color: #f1f1f1;
}

button {
    padding: 1px;
}

.imgBorder {
    border: none;
    }

img {
    border: solid 2px #bbbbbb;
    padding: 1px;
}




